<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <style>
        		table {
        			border: 2px black solid;
        		}  
        		
        		td {
        			border: 2px black solid;
        		}    
        
        </style>
    </head>
    <body>
        {% block body %}
        
        <table>
        <tr><td>ID Assignatura</td><td>Nom</td></tr>
			{% for assignatura in viewassignatura %}
			
			<tr>
			<td>{{assignatura.idAssignatura}}</td>
			<td>{{assignatura.nom}}</td>
			</tr>
			{% endfor %}        
        {% endblock %}
        
        {% block javascripts %}{% endblock %}
    </body>
</html>
